<footer>
    <p class="follow">
        my linkedin

        <a href="https://www.linkedin.com/in/fares-kitani-9741771b4/"> Fares Kitani </a>
    </p>

    <p class="design">Designed and developed by Fares Kitani © 2022</p>
</footer>