<header class="myheader">
  <h1>
    <a style="all: unset" href="/">Articales</a>
  </h1>

  <nav>
    <ul class="parent">
      <li>
        <a href="https://www.linkedin.com/in/fares-kitani-9741771b4/">
          All Articales
        </a>
      </li>
      <li><a href="/add-new-article"> Add new article </a></li>
      <li id="dark" class="mode">change mode</li>
      <li><a href=""> Support Us </a></li>
    </ul>
  </nav>
</header>
